.banner{ 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.content { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.space{ 
    height: 15px;
}
.content { 
    color: black; /* Black */
}
.container {
	padding-top: 10px;
	background-color: #474e5d; /* Dark Blue */
}
.error {
	color: red; /* Red */
}